/* ---------------------- 1. Base ---------------------- */
/* --------------------- 1 Base --------------------- */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700,900");
a { color: #171a21; text-decoration: none; }

img { max-width: 100%; }

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Raleway', sans-serif; }

.container { max-width: 1200px; }

/* --------------------- 2 Fonts --------------------- */
/* ------------------- 3 Typography ------------------ */
/* --------------------- 2. Layout --------------------- */
/* --------------------- 1 Header --------------------- */
/* --------------------- 2 Footer --------------------- */
/* ------------------- 3. components ------------------- */
/* --------------------- 1 button --------------------- */
/* --------------------- 4. pages ---------------------- */
/* -----------------  1. Home page ---------------- */
.mixitup-area { margin-top: 20px; }

.mixitup-area .control-item { display: flex; justify-content: center; align-items: center; background-color: #E1E5E6; }

.mixitup-area ul { margin: 0px; padding: 0px; }

.mixitup-area ul li { list-style-type: none; display: inline-block; cursor: pointer; padding: 10px 10px; font-size: 18px; }

@media all and (max-width: 575px) { .mixitup-area ul li { transition: .5s; padding: 10px 2px; font-size: 14px; } }

@media all and (max-width: 460px) { .mixitup-area ul li { transition: .5s; display: block; align-items: center; padding: 5px 5px; } }

.mixitup-area ul li.active { color: #F23A0A; }

.mixitup-area ul li:hover { color: #F23A0A; }

.mixitup-area .mixitup-items { padding-top: 30px; }

.mixitup-area .mixitup-items .item { margin-bottom: 40px; }

.mixitup-area .mixitup-items .item .card { position: relative; }

.mixitup-area .mixitup-items .item .card .heart-icon { position: absolute; top: 5%; color: red; font-size: 25px; left: 87%; -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

@media (min-width: 990px) and (max-width: 1199px) { .mixitup-area .mixitup-items .item .card .heart-icon { top: 5%; left: 86%; } }

@media (min-width: 767px) and (max-width: 991px) { .mixitup-area .mixitup-items .item .card .heart-icon { top: 5%; left: 85%; } }

@media (min-width: 575px) and (max-width: 768px) { .mixitup-area .mixitup-items .item .card .heart-icon { top: 5%; left: 93%; } }

@media (min-width: 320px) and (max-width: 574px) { .mixitup-area .mixitup-items .item .card .heart-icon { top: 5%; left: 90%; } }

.mixitup-area .mixitup-items .item .cart-add { position: absolute; top: 88%; left: 50%; }

.mixitup-area .mixitup-items .item .cart-add a { text-decoration: none; }

@media (min-width: 990px) and (max-width: 1199px) { .mixitup-area .mixitup-items .item .cart-add { top: 87%; left: 48%; } }

@media (min-width: 767px) and (max-width: 991px) { .mixitup-area .mixitup-items .item .cart-add { top: 87%; left: 42%; } }

@media (min-width: 575px) and (max-width: 768px) { .mixitup-area .mixitup-items .item .cart-add { top: 90%; left: 72%; } }

@media (min-width: 320px) and (max-width: 574px) { .mixitup-area .mixitup-items .item .cart-add { top: 88%; left: 55%; } }

.mixitup-area .mixitup-items .item .cart-add a { background-color: #4FC308; padding: 10px 15px; border-radius: 23px; color: #fff; }

.mixitup-area .mixitup-items .item .cart-add a i { padding-left: 8px; color: #fff; }

/*# sourceMappingURL=main.css.map */