.mixitup-area{
  margin-top: 20px;
  .control-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1E5E6;
  }
  
  ul{
    margin: 0px;
    padding: 0px;
    li{
      list-style-type: none;
      display: inline-block;
      cursor: pointer;
      padding: 10px 10px;
      font-size: 18px;
      @include media('mobile-md'){
        padding: 10px 2px;
        font-size: 14px;
      }
      @include media('mobile-sm'){
        display: block;
        align-items: center;
        padding: 5px 5px;
      }
     
      &.active{
        color: #F23A0A;
      }
      &:hover{
        color: #F23A0A;
      }

    }
   
    
  }
  .mixitup-items{
    padding-top: 30px;
    .item{
      margin-bottom: 40px;
      .card{
        position: relative;
       
        .heart-icon{
          position: absolute;
          top: 5%;
          color: red;
          font-size: 25px;
          left: 87%;
          @include transition(.5s);
          @media (min-width: 990px) and (max-width: 1199px) {
            top: 5%;
            left: 86%;
          }
          @media (min-width: 767px) and (max-width: 991px) {
            top: 5%;
            left: 85%;
          }
          @media (min-width: 575px) and (max-width: 768px) {
            top: 5%;
            left: 93%;
          }
          @media (min-width: 320px) and (max-width: 574px) {
            top: 5%;
            left: 90%;
          }

        }
        
      }
      .cart-add{
        position: absolute;
        top: 88%;
        left: 50%;
        a{
          text-decoration: none;
        }
        @media (min-width: 990px) and (max-width: 1199px) {
          top: 87%;
          left: 48%;
        }

        @media (min-width: 767px) and (max-width: 991px) {
          top: 87%;
          left: 42%;
        }
        @media (min-width: 575px) and (max-width: 768px) {
          top: 90%;
          left: 72%;
        }
        @media (min-width: 320px) and (max-width: 574px) {
          top: 88%;
          left: 55%;
        }
        
        a{
          background-color: #4FC308;
          padding: 10px 15px;
          border-radius: 23px;
          color: #fff;
  
          i{
            padding-left: 8px;
            color: #fff;
          
          }
        }
  
      }
    }

  }

}